name: made_with_serverpod
description: Widget showing a made with Serverpod banner with an optional link to source code.
version: 2.0.0
homepage: https://github.com/serverpod/made_with_serverpod

environment:
  sdk: ">=3.8.0 <4.0.0"
  flutter: ">=3.32.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.0.7
  url_launcher: ^6.1.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  serverpod_lints: ^2.9.2

flutter:
  assets:
    - assets/
